@using Pjax.AspNetCore.Mvc
@if (ViewBag.IsPjaxRequest ?? false)
{
    <title>@ViewData["Title"]</title>
    @RenderBody()
    @RenderSection("Scripts", false)
    return;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>博客首页</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/base.css" rel="stylesheet">
    <link href="~/css/index.css" rel="stylesheet">
    <link href="~/css/m.css" rel="stylesheet">
</head>
<body>
    <header id="header">
        <div class="navbar">
            <div class="foryou">
                <p class="luck">缘分让我遇到你的第@((DateTime.Now - DateTime.Parse("2016-8-19")).Days + 1) 天！</p>
            </div>
        </div>
        <div class="header-navigation">
            <nav>
                <div class="logo"><a asp-controller="Home">个人博客</a></div>
                <h2 id="mnavh"><span class="navicon"></span></h2>
                <ul id="starlist">
                    <li><a asp-controller="Home">网站首页</a></li>
                    <li><a asp-controller="Timeline">时间轴</a></li>
                </ul>
                <div class="searchbox">
                    <div id="search_bar" class="search_bar">
                        <form id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
                            <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
                            <input type="hidden" name="show" value="title" />
                            <input type="hidden" name="tempid" value="1" />
                            <input type="hidden" name="tbname" value="news">
                            <input type="hidden" name="Submit" value="搜索" />
                            <p class="search_ico"> <span></span></p>
                        </form>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <article>
        <main id="pjax-container">
            @RenderBody()
        </main>
        <aside class="r_box">
            <div class="about_me">
                <h2>博主简介</h2>
                <ul>
                    <i><img src="~/image/me.jpg"></i>
                    <p><b>博主</b>，一个简单普通的代码工作者，目前供职于BC。 本站由本人独自开发，功能以及体验正逐步完善。 同时希望能得到更多的建议。</p>
                </ul>
            </div>
            <div class="fenlei">
                <h2>文章分类</h2>
                <ul>
                    <li><a href="/">学无止境（33）</a></li>
                    <li><a href="/">日记（19）</a></li>
                    <li><a href="/">慢生活（520）</a></li>
                    <li><a href="/">美文欣赏（40）</a></li>
                </ul>
            </div>

        </aside>
    </article>
    <footer>
        <p>Copyright ©2018</p>
    </footer>
    <a href="#" class="cd-top">Top</a>
    <script lang="love">
console.info("%c%s", "color: red; background: yellow; font-size: 12px;",
    "缘分让我遇到你的第@((DateTime.Now - DateTime.Parse("2016-8-19")).Days + 1) 天！"
            )</script>
    <environment names="Development">
        <script src="~/js/lib.min.js" asp-append-version="true"></script>
    </environment>
    <environment names="Production">
        <script src="~/js/lib.min.js" asp-append-version="true"></script>
    </environment>

    <script src="~/js/jquery.easyfader.min.js"></script>
    <script src="~/js/hc-sticky.js"></script>
    <script src="~/js/comm.js"></script>
    <script src="~/js/scrollReveal.js"></script>
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->
    <script>
        $(document).pjax('a', '#pjax-container', { timeout: 2000, replace: true });
    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
