@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
@if (false)
{
    <title>@ViewBag.Title</title>
    @RenderBody()
    @RenderSection("Scripts", false)
    return;
}
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>管理系统</title>

    <link rel="stylesheet" href="~/css/lib.min.css" />
    <link rel="stylesheet" href="~/admin/css/style.css">

    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="assets/img/favicon-96x96.png">
</head>
<body class="app header-fixed aside-menu-fixed aside-menu-hidden">
    @{Html.RenderPartial("_Header");}
    @*@Html.Partial("Header")*@
    <div class="app-body">
        @{Html.RenderPartial("_Sidebar");}
        @*@Html.Partial("Sidebar")*@
        <main class="main">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Home</li>
                <li class="breadcrumb-item">
                    <a href="#">Admin</a>
                </li>
            </ol>
            <div class="container-fluid">
                <div class="animated fadeIn">
                    <div id="pjax-container" class="content">
                        @RenderBody()
                    </div>
                </div>

            </div>
        </main>
    </div>
    @{Html.RenderPartial("_Footer");}
    @*@Html.Partial("Footer")*@

    <script src="~/js/lib.min.js"></script>
    <script src="~/admin/js/app.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>